ul {
  vertical-align: middle;
  display: block;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 12%;
  background-color: white;
  height: 100%;
  position: fixed;
  float: left;
}

span {
    color: white;
    text-decoration: none;
    background-color: grey;
    display: block;
    width: 12%;
    padding: 8px;
}

.chat-box  {
  display: block;
  position: absolute;
  top: 600px;
  left: 300px;
  color: blue;
  list-style-type: none
}

.Username-msg {
  color: grey;
  font-size: 10px
}
